.title_products {
  font-size: 1.7rem;
  margin-bottom: 10px;
  @media (max-width: 1024px) {
    font-size: 1.3rem;
  }
}
.products-wrapper {
  display: flex;

  flex-direction: column;
  margin: 60px;
  width: 1200px;
  
  margin-top: 70px;
 
}
.invisible {
  visibility: hidden; 
}
.cards_wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr); 
  
  gap: .4rem;

  @media (max-width: 760px) {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr); 
    flex-wrap: wrap;
  }
}
.products_card {
  display: flex;
  align-items: center;
  max-width: 200px;
  height: 80px;
  border-radius: 10px;
  justify-content: center;
  padding: 0px 30px;
  font-size: 100px;
  font-size: 1rem;

  @media (max-width: 760px) {
    .products_card {
      max-width: 100px;
    }
  }
  &.clothes {
    background-color: #f2eadf;
  }
  &.clothes h1 {
    color: #c3914a;
  }

  &.shoes {
    background-color: #e6eddd;
  }
  &.shoes h1 {
    color: #5f9101;
  }

  &.eletronics {
    background-color: #fdf2de;
  }
  &.eletronics h1 {
    color: #feba28;
  }

  &.furniture {
    background-color: #e1edf9;
  }
  &.furniture h1 {
    color: #2e97ff;
  }

  @container (max-width: 1024px) {
    width: 120px;
    height: 70px;

    &.clothes h1 {
      font-size: 3rem;
    }
    &.shoes h1 {
      font-size: 3rem;
    }
    &.eletronics h1 {
      font-size: 3rem;
    }
    &.furniture h1 {
      font-size: 3rem;
    }
  }


}
