.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.2s ease;
  color: black;
  max-width: 400px;
  height: 450px; /* valor fixo */
  overflow: hidden; /* corta o que passar do limite */
 

  p{
    color: #000000;
     line-height: 2;
     padding: 0px 10px 0px 10px;
     text-decoration: solid;
}
}
@media(max-width:465px){
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: transform 0.2s ease;
  color: black;
  max-width: 450px;
}
}
