$font-main: "IBM Plex Sans", sans-serif;

$color-text-dark: rgba(255, 255, 255, 0.87);
$color-text-light: #213547;
$color-text-red: #000000;

$color-bg-light: #ffffff;
$color-bg-dark: #1a1a1a;
$color-bg-button-hover: rgb(159, 158, 158);

$button-radius: 8px;
$button-padding: 0.6em 1.2em;
$button-font-weight: 500;
$button-font-size: 1em;

$radius-default: 8px;