.grid-4-all-categories {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr); /* desktop */
 

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* tablet */
   
  }

  @media (max-width: 300px) {
    grid-template-columns: 1fr; /* mobile */
    max-width: 640px;
  }
}
.wrapper-products{
width: 1200px;
}
.all-products-pagination{
  display: flex;
  flex-direction: row;
  
  margin-top: 10px;
}
