.img-border-radius img {
  border-radius: 10px 10px 0px 0px; // círculo perfeito se for quadrada
    padding-bottom: 10px;
    text-align: justify;
   
  /*   max-height: 100px;
    object-fit:fill;
    align-items: center; */
     
   
   
}
