.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track-wrapper {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.carousel-item {
  flex-shrink: 0;
  width: 210px; // pode ajustar
  @media (max-width: 1024px) {
    width: 195px;
  }

  @media (max-width: 768px) {
    width: 170px;
  }
  @media (max-width: 607px) {
    width: 130px;
  }
}
