.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-track-wrapper {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.carousel-item {
  flex-shrink: 0;
  width: 200px; // pode ajustar
}
