.flex-more-like-this {
  display: flex;
  flex-direction: row;
  padding: 2px;
  height: 350px;
  max-width: 1000px;
  overflow-x: auto;
  overflow-y: hidden;
  align-items: flex-start;
  gap: 10px;

  @media (max-width: 1024px) {
    gap: 8px;
  }

  @media (max-width: 768px) {
    gap: 5px;
  }

  @media (max-width: 607px) {
    gap: 2px;
  }

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.card-wrapper-more-like-this {
  width: 200px;

  @media (max-width: 1024px) {
    width: 180px;
  }

  @media (max-width: 768px) {
    width: 150px;
  }

  @media (max-width: 480px) {
    width: 120px;
  }
}
